# Linker output
*.ilk

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
CortexCommand
CortexCommand_debug

# Manifest files
*.manifest

**/desktop.ini

# MacOS stuff
.DS_Store

.vs/
Screenshots/
Mods/
Userdata/
Base.rte/Settings.ini
DedicatedServerDebug.bat

allegro.log
AbortScreen.bmp
AbortLog.txt
MemCleanupInfo.txt
LogPublish.txt
LogLoading.txt
LogLoadingWarning.txt
LogConsole.txt
Console.dump.log
Console.input.log
Base.rte/LoadoutsP1.ini